.CereriFinale {
    background-color: #f9f9f9;
    padding: 40px;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.CereriFinale table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    color: #002366; 
}

.CereriFinale th {
    background-color: #e0e7ff;
    color: #002366;
    text-align: left;
    padding: 12px;
}

.CereriFinale td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
}

.CereriFinale tr:nth-child(even) {
    background-color: #eef4ff;
}

.CereriFinale tr:hover {
    background-color: #d7e3f3;
}

.CereriFinale h2 {
    text-align: left;
    color: #002366;
    margin-bottom: 20px;
}

.CereriFinale button {
    background-color: #002366;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.CereriFinale button:hover {
    background-color: #0048ba;
}
