.Cerere {
	background-color: #f0f4fa;
	padding: 40px;
	border-radius: 10px;
	margin: 20px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	font-size: 1.2rem;
}

.Cerere table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
	background-color: #ffffff;
	border: 1px solid #ccc;
	color: #002366;
}

.Cerere th {
	background-color: #e0e7ff;
	color: #002366;
	text-align: left;
	padding: 12px;
}

.Cerere td {
	padding: 10px;
	text-align: left;
	border: 1px solid #ccc;
}

.Cerere h2 {
	text-align: left;
	color: #002366;
	margin-bottom: 20px;
}

.Cerere button {
	text-align: center;
	background-color: #004262;
    display: inline;
}

/* butoane */
.Cerere .buton-aprobare {
	color: #d4edda;
	background-color: #155724;
    margin-right: 10px;
}

.Cerere .buton-respingere {
    color: #f8d7da;
	background-color: #721c24;
}